<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBootKafkaConsumerDemo" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" nameIsGenerated="true">
    <module name="sandbox-kafka.examples.spring-boot-kafka.consumer.main" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="edu.sandbox.kafka.springbootkafka.consumer.SpringBootKafkaConsumerDemo" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="edu.sandbox.kafka.springbootkafka.consumer.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>